<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>compute.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
        <!-- daily rollover -->
        <fileNamePattern>compute.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>    
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="backtype.storm" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="com.netflix" level="WARN"/>
  <logger name="org.apache.storm.shade.org.apache.curator" level="WARN"/>
  <logger name="org.apache.zookeeper" level="WARN"/>
  <logger name="org.apache.storm.shade.org.apache.zookeeper" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
